$color_1: white;
$background-color_1: green;
$primary-color: black;

@import "foundation.css";
body {
  background: $primary-color;
  color: $color_1;
  text-align: center;
}
#answer1 {
  &:hover {
    transform: rotate(25deg);
    transition: all .2s;
  }
}
#answer2 {
  display: inline-block;
  border: green solid 4px;
  border-radius: 20px;
  &:hover {
    padding-bottom: 50px;
    padding-top: 50px;
    transition: 0.5s;
  }
}
#answer3 {
  &:hover {
    width: 420px;
    outline: 5px solid green;
    border-radius: 15px;
    display: inline-block;
    transition: all 0.2s;
  }
}
#answer4 {
  display: inline-block;
  border-bottom: green solid 4px;
  &:hover {
    background-color: $background-color_1;
    transition: 0.2s;
  }
}
